.social {
    @include horizontal-list(0);
    a {
        text-indent: -9999px;
        @include transition(0.3s);
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 15px;
        &[rel=twitter]{
            background: image-url('twitter_32.png') center no-repeat;
        }
        &[rel=github]{
            background: image-url('github_32.png') center no-repeat;
        }
        &[rel=rss]{
            background: image-url('rss_32.png') center no-repeat;
        }
    }
}
