.social {
    @include horizontal-list(0);
    vertical-align: top;
    text-align: center;
    a {
        @include transition(0.3s);
        color: #bbb;
        text-decoration: none;
        font-size: 24px;
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: 0 15px 10px 0;
        opacity: 0.6;
        @include border-radius(7px);
        &[rel=twitter]{
            //background: image-url('twitter_32.png') center no-repeat #FFF;
            font-size: 26px;
            &:hover {
                color: #95EFF8;
            }
        }
        &[rel=github]{
            //background: image-url('github_32.png') center no-repeat #FFF;
            font-size: 34px;
            &:hover {
                color: rgb(205,212,232);
            }
        }
        &[rel=rss]{
            //background: image-url('rss_32.png') center no-repeat #FFF;
            &:hover {
                color: #FF9572;
            }
        }
    }
}
